<head>
  <script type="text/javascript">
    var host = 'chads.website';
    if ((host == window.location.host) && (window.location.protocol != 'https:')) {
      window.location = 'https://' + window.location.host + window.location.pathname;
    }
  </script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="R6NeN9Ns2jZ5cwR_MlvvZXlua_D6RLOPAoBLfbXgLOY" />

	<title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="stylesheet" href="{{ "/css/main.css?cache=1014201501" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>


	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<!--
	<link rel="icon" sizes="192x192" href="/images/...">
	-->

	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Material Design Lite">
	<!--
	<link rel="apple-touch-icon-precomposed" href="/images/...">
	-->

	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<!--
	<meta name="msapplication-TileImage" content="images/...">
	<meta name="msapplication-TileColor" content="#3372DF">
	-->


	<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
</head>
