h1, h2, h3, h4, h5 {
  a {
    font-weight: normal;
  }
}

h1 {
    font-size:30px;
}

h2 {
    font-size:25px;
}

h3 {
    font-size:20px;
}

h4 {
    font-size:15px;
}

h5 {
    font-size:15px;
    font-weight: normal;
}

a {
  text-decoration: none;
}

.mdl-layout__header-row {
  a {
    color: white;
  }
}

blockquote {
  p {
    display: inline;
  }
}

ul {
    p {
        margin-bottom: 0;
    }
}
