/**
 * Site header
 */
.hiding-hero {
  font-size: 86pt;
  font-family: 'Dancing Script', cursive;
  height: 100%;
}

.header-button {
  display: flex;
  margin: 0 20px;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
}

.header-button:hover {
  background-color: rgba(255,255,255,.3);
}

.page-content {
  max-width: 1024px;
  margin: auto;
}

.mdl-card {
  margin: 8px;
}

.mdl-card__menu {
  width: 32px;
}

.github-button-container {
  margin-top: 2px;
}

@media screen and (max-width: 800px) {
  .mdl-layout__header-row {
    padding-left: 16px;
    padding-bottom: 20px;
    height: auto;
    flex-wrap: wrap;
  }

  .mdl-layout-title {
    width: 100%;
  }
}
