/**
 * Site header
 */
.hiding-hero {
  font-size: 86pt;
  font-family: 'Dancing Script', cursive;
  height: 100%;
}

.page-content {
  max-width: 1024px;
  margin: auto;
}

.mdl-card {
  margin: 8px;
}

