<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="mdl-grid">
	    <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col featured-post">
		    <div class="mdl-card__title">
			    <h2 class="mdl-card__title-text">A Post Title</h2>
		    </div>
		    <div class="mdl-card__supporting-text">
			    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum ipsum quis sem
				    dignissim varius. Suspendisse venenatis ultrices odio vitae euismod. Donec commodo augue
				    lacus, ut aliquam libero malesuada a. Proin ullamcorper rhoncus ligula et faucibus. Integer
				    posuere nisl non enim rutrum, at convallis libero elementum. Fusce eleifend hendrerit
				    sagittis. Sed ut volutpat elit. Cum sociis natoque penatibus et magnis dis parturient
				    montes, nascetur ridiculus mus. Pellentesque habitant morbi tristique senectus et netus et
				    malesuada fames ac turpis egestas. Donec varius nisl quis auctor consequat. Integer vitae
				    risus sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
				    himenaeos. Maecenas rhoncus, tellus a consequat suscipit, odio ipsum auctor neque, vitae
				    pulvinar neque risus fermentum sem.</p>
			    <!--
			<p>Quisque elit lorem, accumsan eget ullamcorper id, congue vel orci. Donec elit ligula, porttitor vel congue in, luctus sed diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam eu elit eget est semper sagittis nec non nunc. Sed a malesuada purus, at hendrerit leo. Nam ut augue a ipsum pharetra finibus. In bibendum aliquam nisi, eu condimentum purus. Sed pretium, nibh ac dapibus imperdiet, nibh quam dictum tortor, molestie pretium orci ante eu odio. In hac habitasse platea dictumst. Cras egestas tortor vel velit posuere, a posuere elit vulputate.</p>
			<p>Phasellus tempus felis id odio fringilla, vitae egestas dui sollicitudin. Aliquam laoreet blandit egestas. Integer scelerisque justo ac velit molestie porttitor. Aenean nec ipsum aliquet, feugiat purus quis, convallis nisi. Nulla vel placerat sem, ut porttitor sem. Nullam vestibulum tristique luctus. Morbi laoreet mi sit amet venenatis blandit. Nulla ultrices fringilla neque, ut tempor mi ullamcorper a.</p>
			<p>Mauris lacinia, ligula eget feugiat fermentum, mauris lectus gravida mauris, ut accumsan orci sapien vel eros. Vivamus dignissim gravida suscipit. Aenean eget ante hendrerit, cursus ligula id, eleifend sapien. Pellentesque fringilla feugiat arcu eu hendrerit. Etiam vehicula velit diam, quis dictum quam tincidunt non. Vestibulum ac nisl eu lacus lobortis eleifend. Donec non varius massa. Nam ullamcorper et ante id mollis. Fusce augue mi, pulvinar id commodo et, faucibus vel turpis. Fusce ac metus luctus, ornare sapien in, lacinia odio. Curabitur eu velit faucibus, fermentum diam feugiat, fringilla dolor. Fusce diam ante, suscipit quis arcu sit amet, mollis sodales velit. Vestibulum id mauris sed lectus porttitor placerat et quis elit.</p>
			<p>Donec luctus augue in lacus elementum vehicula. Nulla sed malesuada lacus, eget scelerisque risus. Quisque vulputate erat vitae velit ornare, non efficitur lorem placerat. Mauris et magna sit amet velit tincidunt efficitur. Vivamus massa est, luctus non dui non, pretium tristique lectus. Donec hendrerit ultricies sollicitudin. Aenean dui orci, sagittis sit amet velit eu, vulputate tristique est. Cras quis orci sit amet eros feugiat porttitor. Duis egestas, est non lobortis venenatis, sem enim placerat libero, vitae tristique nisi ex in justo. </p>
			-->
		    </div>
		    <div class="mdl-card__actions">
			    <a class="mdl-button mdl-button--colored">Read More</a>
		    </div>
		    <div class="mdl-card__menu">
			    <button class="mdl-button mdl-button--icon">
				    <i class="material-icons">share</i>
			    </button>
		    </div>
	    </div>
    </div>
    <div class="mdl-grid">
	    <div class="mdl-card mdl-shadow--2dp mdl-cell--4-col row-post">
		    <div class="mdl-card__title">
			    <h2 class="mdl-card__title-text">A Post Title</h2>
		    </div>
		    <div class="mdl-card__actions">
			    <a class="mdl-button mdl-button--colored">Read</a>
		    </div>
		    <div class="mdl-card__menu">
			    <button class="mdl-button mdl-button--icon">
				    <i class="material-icons">share</i>
			    </button>
		    </div>
	    </div>
	    <div class="mdl-card mdl-shadow--2dp mdl-cell--4-col row-post">
		    <div class="mdl-card__title">
			    <h2 class="mdl-card__title-text">A Post Title</h2>
		    </div>
		    <div class="mdl-card__actions">
			    <a class="mdl-button mdl-button--colored">Read</a>
		    </div>
		    <div class="mdl-card__menu">
			    <button class="mdl-button mdl-button--icon">
				    <i class="material-icons">share</i>
			    </button>
		    </div>
	    </div>
	    <div class="mdl-card mdl-shadow--2dp mdl-cell--4-col row-post">
		    <div class="mdl-card__title">
			    <h2 class="mdl-card__title-text">A Post Title</h2>
		    </div>
		    <div class="mdl-card__actions">
			    <a class="mdl-button mdl-button--colored">Read</a>
		    </div>
		    <div class="mdl-card__menu">
			    <button class="mdl-button mdl-button--icon">
				    <i class="material-icons">share</i>
			    </button>
		    </div>
	    </div>
    </div>

    {% include footer.html %}

  </body>

</html>
