---
layout: default
---
<div class="mdl-card mdl-shadow--2dp mdl-cell--12-col post">
  <div class="mdl-card__title">
    <h1 class="mdl-card__title-text post-title">{{ page.title }}</h1>
    <div class="mdl-layout-spacer"></div>
    <div class="date mdl-layout--large-screen-only" style="margin-right:60px;">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</div>
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    <article class="post-content">
      {{ content | markdownify }}
    </article>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <div class="mdl-layout--small-screens-only">
      Sharing Options:
      <a target="_blank" href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}">Facebook</a> |
      <a target="_blank" href="https://twitter.com/share?url={{site.url}}{{page.url}}&text={{page.excerpt | strip_html}}">Twitter</a> |
      <a target="_blank" href="https://plusone.google.com/_/+1/confirm?hl=en&url={{site.url}}{{page.url}}&content={{page.excerpt | strip_html}}">Google</a> |
      <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title={{page.title}}&summary={{page.excerpt | strip_html}}&source=Chad%20Furman%20-%20Senior%20Full-Stack%20Developer">LinkedIn</a>
    </div>
    {% if site.comments %}
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'chadfurmanfullstackdeveloper';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    {% endif %}
  </div>
</div>
